.tale{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 830px;
    &::after{
        content: url(https://templatemo.com/templates/templatemo_582_tale_seo_agency/assets/images/banner-right.png);
        top: -110px;
        right: 0;
        position: absolute;
        z-index: -1;
    
    }
    &::before{
        content: url(https://templatemo.com/templates/templatemo_582_tale_seo_agency/assets/images/banner-left.png);
        top: -95px;
        left: 0;
        position: absolute;
        z-index: -1;
    }
    .checks{
        .check{
            width: 50%;            
            p {
                padding-right: 25%;
                margin-bottom: 30px;
                font-size: 17px;
                line-height: 30px;
                color: #afafaf;
            }
            h6{
                width: 230px;
                font-size: 20px;
                padding-bottom: 30px;
                color: #5b03e4;
                font-weight: 700;
                border-bottom: 2px solid #decdfa;
    
            }
            h4{
                font-size: 52px;
                color: #2a2a2a;
                font-weight: 700;
                line-height: 70px;
                margin: 20px 0;
                em{
                    font-style: normal;
                    color: #5b03e4;
                }
                span{
                    color: #c03afe;
                }
            }
            .btns {
                span{
                    display: inline-block;
                    margin: 0px 10px 0px 10px;
                    color: #7a7a7a;
                    font-size: 19px;
                }
                .btn{
                    margin-top: 20px;
                    font-size: 16px;
                    color: #fff;
                    background-color: #5b03e4;
                    padding: 12px 30px;
                    display: inline-block;
                    border-radius: 25px;
                    font-weight: 400;
                    text-transform: capitalize;
                    letter-spacing: 0.5px;
                    transition: all .3s;
                    position: relative;
                    overflow: hidden;
                    &:hover{
                        background-color: #c03afe;
                    }
                }
                .btn2{
                    font-size: 16px;
                    color: #fff;
                    background-color: #c03afe;
                    padding: 12px 30px;
                    display: inline-block;
                    border-radius: 25px;
                    font-weight: 400;
                    text-transform: capitalize;
                    letter-spacing: 0.5px;
                    transition: all .3s;
                    position: relative;
                    overflow: hidden;
                    &:hover{
                        background-color: #5b03e4;
                    }
                }
            }
        }
    }
}